@import '../assets/css/reset.less';

.view_shop{
  &.empty{
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: @gray;
    .pic{
      display: inline-block;
      width: 30%;
      height: auto;
    }
    .btn{
      padding: 0 30px;
      background: @primary;
      font-size: 16px;
      height: 40px;
      line-height:40px;
    }
  }
}

.cp_shopTab{
  display: flex;
  overflow-y: hidden;
  height: 100%;
  .tab{
    width: 80px;
    text-align: center;
    height: 100%;
    overflow-y: auto;
    background: #eee;
    .tab_item{
      display: block;
      line-height: 50px;
      background: #eee;
      color: #666;
      &.active{
        background: #fff;
        color: @primary;
      }
    }
  }
  .content{
    flex: 1;
    background: #fff;
    overflow-y: auto;
    height: 100%;
    padding: 0 10px;
    .pro_type{
      line-height: 50px;
      .all{
        float: right;
        color: @gray;
      }
    }
    .pro_box{
      position: relative;
    }
    .pro_item{
      width: 33%;
      display: inline-block;
      text-align: center;
      padding-top: 10px;
    }
    .pro_tilte{
      display: block;
      line-height: 30px;
    }
    .pro_pic{
      width: 60px;
      height: 60px;
    }
  }
}

.home_nav{
  display: table;
  width: 100%;
  padding: 10px 0 5px;
  .cp_icon{
    width: 50px;
    height: 50px;
  }
  .nav_item{
    width: 25%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #666;
    .title{
      display: block;
      line-height: 40px;
    }
  }
  .icon_nav_1{
    background: url('../assets/img/icon_nav_01_new.png') no-repeat;
    background-size:100%; 
  }
  .icon_nav_2{
    background: url('../assets/img/icon_nav_02_new.png') no-repeat;
    background-size:100%; 
  }
  .icon_nav_3{
    background: url('../assets/img/icon_nav_03_new.png') no-repeat;
    background-size:100%; 
  }
  .icon_nav_4{
    background: url('../assets/img/icon_nav_04_new.png') no-repeat;
    background-size:100%; 
  }
}