*{
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}
body, html {
  height: 100%;
  background-color: #f4f4f4;
}
ul,li{
  list-style: none;
  padding: 0;
  margin: 0;
}
#root{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top:44px;
}
.container{
  width: 100%;
}
.cp_icon{
  display: inline-block;
  vertical-align: middle;
}
.view_content{
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.c_load{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}